html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    position: sticky;
    z-index: 9999 !important
}

body{
  /*  background-image: url(construction-workers-sunset.jpg);*/
   background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

main{
    margin-left: 1px;
    margin-right: 1px;
    margin-top: -5px;
}

.navbar{
    display: flex;
    justify-content: center;
    text-align: center;
     background-color: hsl(0, 0%, 18%);
}

.navbar ul{

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 60px;
    font-size: 13px;
    
}

.navbar a{
    color: white;
    text-decoration:none;
    padding: 15px;
    display: block;
    text-align: center;
    transition: font-size 0.1s ease-in-out;
    
}

.navbar a:hover{
    
    font-size: 14.5px;
    color:  hsl(29, 100%, 79%);
    
}
.navbar a:active{
    font-size: 14.5px;
    color: rgb(255, 177, 50);

}
.navbar li{
    
    float: left;
}
#changer a{
     color: hsla(39, 100%, 50%, 0.898);
}

#yebo{
   
    display: flex;
    justify-content: center;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 20px;
    height: 150px;
    background-color: hsl(0, 0%, 100%);
   
}

.subheading{
    margin-top: 30px;
    font-family: Arial;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color:  rgb(222, 202, 175/50%);
    font-size: 50px;
}
#londi{
    color: antiquewhite;
    font-size: 60px;
    font-family: Georgia;
    text-align: right;
    opacity: 70%;
}

p{
   
    text-align: left;
    font-size: 20px;
    font-family: Georgia;
    background-color: hsla(33, 78%, 91%, 0.229);
}



#mainServices{
    
    padding:30px;
    background-color: rgb(34, 34, 34);
    border-radius: 0px;
    margin: 0px;
    padding-left: 20px;
    text-align: center;
    overflow: auto;

   
}

#mainServices2{
    align-items: center;
    overflow: auto;
    background-color: rgb(10, 10, 10);
    margin: 0px;
    text-align: center;
    
}

.riser{
    color:rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    margin: 0; 
    text-align: center; 
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 0px 5px 5px black; 
    transition: font-size 0.3s ease-in-out;
    box-shadow: 5px 5px 5px black;
}

.riser:hover{
    color: rgb(255, 217, 147);
    font-size: 43px;
}
#jesu{
    color:rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
     margin: 0; text-align: center; font-size: 50px;
      margin-top: 50px; padding-bottom: 15px;
       text-shadow: 0px 5px 5px black;
       opacity:0;
}

#jesu.show{
    animation-name: slideUpDown;
    animation-duration: 1s;
    opacity: 100%;
    
}

@keyframes opacityway{
    0%{
        opacity: 0 ;
    }
    100%{
        opacity: 100%;
    }
}


.container{

    display: inline-block;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    color: rgb(0, 0, 0);
    display: inline-block;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 10px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 5px 10px 15px black;
    text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.8);
    

}

.container img{
    margin: 0px;
    width: 310px;
    height: 240px;
    border-radius: 2px;
    transition: width, height 0.5s ease-in-out;
  
}
.description{
    font-size: 28px;
}

.container:hover img{

    width: 340px;
    height: 270px;;
   
    
}

.container:hover{

 background-color: hsla(36, 96%, 46%, 0.555);

}


main{
    overflow: auto;
}

.container .containerDescription{
    display: none;
   padding: 10px;
   font-size: 12px;
    transition: display 0.3s ease-in-out;
}



.container:hover .containerDescription{
   
    width: 300px;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    color: rgb(0, 0, 0);
   
}
#exe{
    font-size: 30px;
    transition: font-size 0.1s ease-in-out;
}

#exe:hover{

    font-size: 32px;
    color: rgb(255, 255, 255);
}

.Mining_Services{
    display: inline-block;
    margin: 10px;
    opacity: 0;
    transition: opacity 1s; 
   transition-delay: 0.5s;
}

.Mining_Services.show{
    opacity: 1;
}

.Mining_Services img{
    width: 300px; 
    border-radius: 10px;
     padding-bottom: 5px;
     transition: width 0.2s ease-in-out;
     animation-name: slideDownUp;
     animation-duration: 2s;
}

.Mining_Services img:hover {
    width: 310px;
    
}

.animation1{
    animation-name: slideLeftRight;
    animation-duration: 2s;
    font-size: 70px; 
    color: hsla(0, 0%, 100%, 0.874); 
    margin-top: 20px; 
    margin-left: 15px;
     overflow: hidden;


}
.animation2{
    animation-name: slideLeftRight2;
    animation-duration: 2s;
    font-size: 40px; 
    color:hsla(0, 0%, 100%, 0.716);
     margin-top: -80px;
     margin-left: 15px

}


@keyframes slideLeftRight{

    from{transform:  translateX(-400px);}
}
@keyframes slideLeftRight2{

    from{transform:  translateX(2000px);}
}
@keyframes slideDownUp{

    /*from{transform:  translateY(2000px);}*/
}
@keyframes slideUpDown{

    from{transform:  translateY(1000px);}
    
}

.backDrop{
            background-image: linear-gradient( rgba(0, 0, 0, 0.734),rgba(0, 0, 0, 0.188)), url(construction-workers-sunsetOP.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 0px ;
            display: block;
            margin: 0;
            height: 35vh;
            margin-top: -20px;
            margin-bottom: -20px;
            opacity: 0;
            transition: opacity 2s;
            
}

.backDrop.show{
    opacity: 100;
}
#jade11{
    color: rgb(250, 163, 0);
    text-shadow: 0 0 6px rgba(255, 77, 0, 0);
    animation-name: bouncy;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bouncy{
    
    25%{ font-size: 14px ;
    }
    75%{ font-size: 14px 
    }
    100%{font-size: 12px;
    }
}

#closingP{
    background-color:rgb(10, 10, 10);
    text-align: center;
    padding: 40px;
    color: white;
    border-bottom: solid 10px white;
}
#closingP p{
    background-color: transparent;
    text-align: center;
    padding: 30px;
    color: rgb(255, 181, 97);
    
}

/* footer */

@keyframes footer_Ani{
    from{ transform: translateY(200px);}
}
.bottomMenu.show{
    animation-name: footer_Ani ;
    animation-duration: 2s;
    opacity: 1;
}
.bottomMenu{
   background-color: rgba(0, 0, 0, 0);
    padding: 30px; 
    margin: 20px;
    z-index: 9995;
    opacity: 0;
    
}
.bottomMenu  i{
    margin-top: 50px;
    margin-left: 10px;
    color: rgba(255, 166, 0, 0.488);
    font-size: 20px;
    
}
.bottomMenu i:hover{
    color: rgb(255, 157, 0);
    transform: scale(1.2);
    
}

.bottomMenu i:active{
    color: rgb(255, 202, 116);
    transform: scale(1.5);
    text-shadow: 0px 0px 7px orange;
}
.bottomMenu {
    margin-bottom: -10px;
    
}
#menuDown{
    font-size: 25px;
    color: rgb(255, 115, 0);
}
footer{
    margin-top: -20px;
}

