html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    position: sticky;
    z-index: 9999 !important;
}
body{
    background-color: white;
    margin: 0; 
}

.navbar{
    display: flex;
    justify-content: center;
    text-align: center;
     background-color: hsl(0, 0%, 18%);
}

.navbar ul{

    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 60px;
    font-size: 13px;
    
}

.navbar a{
    color: white;
    text-decoration:none;
    padding: 15px;
    display: block;
    text-align: center;
    transition: font-size 0.1s ease-in-out;
    
}

.navbar a:hover{
    
    font-size: 14.5px;
    color:  hsl(29, 100%, 79%);
    
}
.navbar a:active{
    font-size: 14.5px;
    color: rgb(255, 177, 50);

}
.navbar li{
    
    float: left;
}
#changer a{
     color: hsla(39, 100%, 50%, 0.898);
}

.jade {
   
    display: flex;
    justify-content: center;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 20px;
    height: 150px;
    background-color: hsl(0, 0%, 100%);
  
}
.jade2 {
   
    
    text-align: center;
    padding-top: 3px;
    padding: 20px;
    padding-bottom: -4px;
    background-color: hsl(0, 0%, 100%);
  
}

.subheading{
    margin-top: 30px;
    font-family: Arial;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color:  rgb(222, 202, 175/50%);
    font-size: 50px;
}
#londi{
    color: antiquewhite;
    font-size: 65px;
    font-family: Georgia;
    text-align: right;
    opacity: 70%;
    
}


.animation1{
 
    font-size: 70px; 
    color: hsla(0, 0%, 100%, 0.874); 
    margin-top: 20px; 
    margin-left: 15px;
     overflow: hidden;


}
.animation2{
    animation-name: slideLeftRight2;
    animation-duration: 1s;
    font-size: 40px; 
    color:hwb(0 100% 0% / 0.716);
     margin-top: -80px;
     margin-left: 15px

}

@keyframes slideLeftRight{
    
    from{transform:  translateY(40px);}
}
@keyframes slideLeftRight2{

    from{transform:  translateY(-200px);}
}
@keyframes slideDownUp{

    /*from{transform:  translateY(2000px);}*/
}

.backDrop{
            background-image: linear-gradient( rgba(0, 0, 0, 0.734),rgba(0, 0, 0, 0.188)), url(2183368.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 0px  ;
            display: block;
            margin: 0;
            height: 35vh;
            margin-top: -20px;
            margin-bottom: 10px;
            position: left;
             opacity: 0;
            transition: opacity 1s; 
           
   
}

.backDrop.show{
    opacity: 100;
}

#paragraph1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    background-color: hsla(0, 0%, 100%, 0.847);
    padding: 10px; 
    color: rgb(44, 44, 44);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.567);
}

.UNDER_THE_HOME_PARAGRAPH{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 15px;
    background-color: rgb(16, 16, 16);
    display: block;
    text-align: center;
    border: solid rgb(0, 0, 0);
    padding: 20px;
    overflow: auto;
    border-bottom: solid 5px rgba(255, 255, 255, 0.368);

}

#aboutUs{
    display: block;
border-radius: 5px ;

background-color: rgb(203, 203, 203);
text-align: center;
box-shadow: -5px 5px 10px black;
padding: 20px;
opacity: 0;
transition: opacity 0.5s;
overflow: auto;
margin-bottom: 10px;


}
#aboutUs.show{
    opacity: 1;
}
#aboutUs:hover{
    transform:scale(1.02);
}

#services{
    display: block;
border-radius: 5px ;
text-align: center;
background-color: rgb(48, 48, 48);
box-shadow: -5px 5px 20px black;
padding: 20px;
font-size: 15px;
color: white;
opacity: 0;
transition: opacity 0.5s;
transition-delay: 0.5s;
margin-bottom: 10px;

}
#services.show{
      opacity: 1;
}
#services:hover{
    transform:scale(1.02);
}

#contact{
   display: block;
border-radius: 5px ;
text-align: center;
background-color: rgb(125, 125, 125);
box-shadow: -5px 5px 20px black;
padding: 20px;
opacity: 0;
transition: opacity 0.5s;
transition-delay: 1s;
color: white;


}
#contact.show{
      opacity: 1;
}
#contact:hover{
    transform:scale(1.02);
}

.wayazi{
    display: inline-block;
  text-shadow:0px 0px 8px rgba(255, 157, 0, 0.494);
  transition: text-shadow 0.6s ease-in-out;
 
}

.wayazi:hover {
 text-shadow: 0px 0px 4px rgb(255, 106, 0);
}




#jade11{
    color: orange;
    text-shadow: 0 0 6px rgba(255, 77, 0, 0);
    animation-name: bouncy;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes bouncy{
    
    25%{ font-size: 17px ;
        text-shadow: 0 0 6px rgba(255, 166, 0, 0.475);
    }
    75%{ font-size: 17px; text-shadow: 0 0 6px rgba(255, 166, 0, 0.828);}
    100%{font-size: 15px;
    text-shadow: 0 0 6px rgba(255, 34, 0, 0)}
}
@keyframes glow{
    
    25%{ text-shadow: 0 0 6px rgba(255, 166, 0, 0.237);}
    65%{  text-shadow: 0 0 6px rgba(255, 166, 0, 0.572);}
    100%{ text-shadow: 0 0 6px rgba(255, 166, 0, 0.143);}
}




/* footer */

@keyframes footer_Ani{
    from{ transform: translateY(200px);}
}
.bottomMenu.show{
    animation-name: footer_Ani ;
    animation-duration: 2s;
    opacity: 1;
    
}
.bottomMenu{
   background-color: rgba(0, 0, 0, 0);
    padding: 30px; 
    margin: 20px;
    z-index: 9995;
    opacity: 0;
    
}

.bottomMenu  i{
    margin-top: 50px;
    margin-left: 10px;
    color: rgba(255, 166, 0, 0.488);
    font-size: 20px;
    
}
.bottomMenu i:hover{
    color: rgb(255, 157, 0);
    transform: scale(1.2);
    
}

.bottomMenu i:active{
    color: rgb(255, 202, 116);
    transform: scale(1.5);
    text-shadow: 0px 0px 7px orange;
}
.bottomMenu {
    margin-bottom: -10px;
    
}
#menuDown{
    font-size: 25px;
    color: rgb(255, 115, 0);
}
#arrowDown{
    font-size: 15px;
    color: rgb(72, 72, 72);
}
footer{
    margin-top: -20px;
}


